<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex nofollow">
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
        <link rel="manifest" href="./manifest.json">
        <style>{{source('css/styles.css')}}</style>
        <script defer>
            const registerServiceWorker = async () => {
                if ("serviceWorker" in navigator) {
                    try {
                        const registration = await navigator.serviceWorker.register('./service-worker.js');
                    } catch (error) {
                        // nothing to do
                    }
                }
            };
            registerServiceWorker();
        </script>
    </head>
    <body>
        <div class="container">
            {% if has_back_link ?? true %}
                <a href="./" class="back-button">← Back to Home</a>
            {% endif %}

            <header>
                <h1>{{ block('title') }}</h1>
                <p class="subtitle">{% block subtitle %}{% endblock %}</p>
            </header>
            {% block container %}{% endblock %}
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
