<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <style>{{source('css/styles.css')}}</style>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
        {% block meta %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <h1>{{ block('title') }}</h1>
                <p class="subtitle">{% block subtitle %}{% endblock %}</p>
            </header>
            {% block container %}{% endblock %}
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
