{% set has_back_link = false %}

{% extends "base.html.twig" %}

{% block title %}Private stuff{% endblock %}
{% block subtitle %}Find bellow all your private stuff{% endblock %}

{% block container %}
    <div class="panel-section">
        <h2 class="panel-title">Useful Links</h2>

        <a href="./files.html" class="card-block" rel="noopener noreferrer">
            <div class="card-content">
                <p class="card-title">List of files</p>
                <p class="card-description">
                    Some important files
                </p>
            </div>
        </a>

        <a href="./recovery-codes.html" class="card-block" rel="noopener noreferrer">
            <div class="card-content">
                <p class="card-title">Recovery codes</p>
                <p class="card-description">
                    Find all recovery codes for my accounts.
                    <br />
                    <small>(Authentication required)</small>
                </p>
            </div>
        </a>
    </div>
{% endblock %}
