{% set has_back_link = false %}

{% extends "base.html.twig" %}

{% block title %}Private stuff{% endblock %}
{% block subtitle %}Find bellow all your private stuff{% endblock %}

{% block container %}
    <div class="site-section">
        <h2 class="site-title">Useful Links</h2>

        <a href="./files.html" class="link-block" rel="noopener noreferrer">
            <div class="link-content">
                <p class="link-title">List of files</p>
                <p class="link-description">
                    Some important files
                </p>
            </div>
        </a>

        <a href="./recovery-codes.html" class="link-block" rel="noopener noreferrer">
            <div class="link-content">
                <p class="link-title">Recovery codes</p>
                <p class="link-description">
                    Find all recovery codes for my accounts.
                    <br />
                    <small>(Authentication required)</small>
                </p>
            </div>
        </a>
    </div>
{% endblock %}
